* {
    min-height: 100vh;
    background-color: #0C0B21;
    padding: 10px;
}
body::-webkit-scrollbar {
    display: none;

}
.main {
    height: 200px;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blender {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p1 {
    color: white;
    position: relative;
    left: 50%;
    bottom: 50%;
    font-size: 50px;
    font-family: 'MuseoModerno', cursive;
}

.hatom-img {
    background-image: url(HATOMNEW.png);
    width: 279px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: #f5f5dc00;
    animation: hatomnew;
    animation-duration: 3s;
    filter: drop-shadow(0px 5px 52px #067469);
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
    margin-top: 40px;
}
.portfolio{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 0px black;
    border: 4px solid #04f6dd;
    transition: 0.6s;
    z-index: 1;
}

.portfolio:hover{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    filter: brightness(100%);    
    transition: 0.6s;
    box-shadow: none;
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.portfolio2{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 0px black;
    border: 4px solid #04f6dd;
    transition: 0.6s;
}

.portfolio2:hover{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    filter: brightness(100%);
    transition: 0.6s;
    box-shadow: none;
}
.containernew{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
    margin-top: 40px;
}
.portfolionew{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 0px black;
    border: 4px solid #5f3cad;
    transition: 0.6s;
    z-index: 1;
}

.portfolionew:hover{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    filter: brightness(100%);    
    transition: 0.6s;
    box-shadow: none;
}
.container2new{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
.portfolio2new{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 0px black;
    border: 4px solid #04f6dd;
    transition: 0.6s;
    border: 4px solid #5f3cad;
}

.portfolio2new:hover{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    filter: brightness(100%);
    transition: 0.6s;
    box-shadow: none;
}

.hatom-name {
    background-image: url(HatomText.png);
    position: absolute;
    width: 644px;
    background-size: cover;
    background-position: center;
    z-index: 1;
    background-color: transparent;
    top: 25%;
    left: 32%;
    transform: translate(-50%, -50%);
    animation: hatom;
    animation-duration: 12s;
    transform: scale(0.4);
}
.car {
    background-size: cover;
    filter: drop-shadow(2px 6px 718px #5F3CAD);
    background-color: transparent;
    border-radius: 10px;
    border-bottom: 5px solid #5f3cad;
}

.intro {
    background-size: cover;
    background-position: center;
    filter: drop-shadow(2px 6px 718px #5F3CAD);
    background-color: transparent;
    border-radius: 10px;
    border-bottom: 5px solid #04f6dd;
}
p2 {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    font-size: 40px;
    left: 80%;
    color: white;
    text-decoration: underline;
    text-shadow: 0px 5px 4px black;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    background-color: transparent;
    left: 45%;
    transform: translateY(-25px);
    text-shadow: 0px 2px 3px black;
    font-size: 25px;
    font-variant: all-small-caps;
    text-decoration: overline;
}

h2 {
    position: absolute;
    color: white;
    left: 75%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    background-color: transparent;
    left: 42.5%;
    transform: translateY(-15px);
    text-shadow: 0px 2px 3px black;
    font-size: 25px;
    font-variant: all-small-caps;
    text-decoration: overline;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: absolute;
    background-color: transparent;
    left: 40%;
    transform: translateY(-25px);
    text-shadow: 0px 2px 3px black;
    font-size: 25px;
    font-variant: all-small-caps;
    text-decoration: overline;
}
.web {
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-position-y: -44px;
    border-radius: 20px;
}
.bnw {
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border-radius: 20px;
    z-index: 1;
    position: relative;
}

@keyframes hatom {
    from {filter: opacity(0%)};
    to   {filter: opacity(100%)};
}

@keyframes hatomnew {
    from {transform: rotate(90deg)};
    to {transform: rotate(360deg)};
}

@keyframes hatomshake {
    from {transform: scale(1.1)};
    to {transform: scale(1)};
    
}
